*{
    margin: 0;
    padding: 0;
    background-color: #ffc7d0;
}

.logo{
    width: 20vw;
}
header{
    background-color: #FFAEBC;
}
h2{
    color: #F85D82;
}
.border{
    background-color: #F85D82;
}